@using FPLSP.Server.Infrastructure.ViewModels.QuizQuesstionQuizUP

<EditForm Model="@lessonContentListSearch" OnSubmit=@SearchForm>
    <div class="row">
        <div class="col-4">
            <InputSelect @bind-Value="lessonContentListSearch.Status" class="form-select">
                <option value="">Tất cả</option>
                <option value="0">Không hoạt động</option>
                <option value="1">Đang hoạt động</option>
            </InputSelect>
        </div>
        <div class="col-4 ps-0 pe-0">
            <InputText placeholder="Nhập câu hỏi cần tìm" class="form-control" @bind-Value="lessonContentListSearch.Name"></InputText>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            <button class="btn btn-outline-success ms-2" @onclick="() => Undo()">Làm mới</button>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public EventCallback<QuizQuesstionQuizUPListSearch> OnSearch { set; get; }


    private QuizQuesstionQuizUPListSearch lessonContentListSearch = new QuizQuesstionQuizUPListSearch();
    

    private async Task SearchForm(EditContext context)
    {
        await OnSearch.InvokeAsync(lessonContentListSearch);

    }
    private async Task Undo()
        {
            lessonContentListSearch.Name = "";
            lessonContentListSearch.Status = null;
            lessonContentListSearch.PageNumber = 1;
            await OnSearch.InvokeAsync(lessonContentListSearch);

        }
}
