@page "/accessdineds"
<header>
	<h1>Quyền Truy Cập Bị Hạn Chế</h1>
	<span>Bạn Không Có Quyền Truy Cập Chức Năng Này</span>
	<span>Vui Lòng Liên Hệ Anh : An Thuyen Le Dep Trai</span>
</header>

@code {

}
