@page "/wordprocess"
<div style="height:auto;width:auto;">
    <iframe src="https://docs.google.com/document/d/19Zt2ix87EGc_-HsjTvrmr3pSZcAOPWdT_cOBKiBI7EI/edit?usp=sharing"></iframe>
</div>

@code {

}
