 <footer class="footer-area section-gap mt-3">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-2 mt-5 col-md-6 single-footer-widget">
                    <h4>Cơ Sở Hà Nội</h4>
                    <ul class="mt-5">

                        <li> <i class="fa-solid fa-location-dot"></i> Tòa nhà FPT Polytechnic, phố Trịnh Văn Bô, phường
                            Phương Canh, quận Nam Từ Liêm, TP Hà Nội</li>
                        <li><i class="fa-solid fa-headset"></i> (024) 8582 0808</li>
                        <li><i class="fa-solid fa-envelopes-bulk"></i> caodang@fpt.edu.vn</li>
                    </ul>
                </div>
                <div class="col-lg-2  mt-5 col-md-6 single-footer-widget">
                    <h4>Cơ Sở Đà Nẵng</h4>
                    <ul class="mt-5">

                        <li> <i class="fa-solid fa-location-dot"></i> 137 Nguyễn Thị Thập, phường Hòa Minh, quận Liên
                            Chiểu, TP Đà Nẵn</li>
                        <li><i class="fa-solid fa-headset"></i> (0236) 3710 999</li>
                        <li><i class="fa-solid fa-envelopes-bulk"></i> caodang@fpt.edu.vn</li>
                    </ul>
                </div>
                <div class="col-lg-2  mt-5 col-md-6 single-footer-widget">
                    <h4>Cở Sở Cần Thơ</h4>
                    <ul class="mt-5">

                        <li> <i class="fa-solid fa-location-dot"></i> 288 Nguyễn Văn Linh, phường An Khánh, quận Ninh
                            Kiều, TP Cần Thơ</li>
                        <li><i class="fa-solid fa-headset"></i> 0901759222</li>
                        <li><i class="fa-solid fa-envelopes-bulk"></i> caodang@fpt.edu.vn</li>
                    </ul>
                </div>
                <div class="col-lg-2  mt-5 col-md-6 single-footer-widget">
                    <h4>Cở Sở Thành Phố Hồ Chí Minh</h4>
                    <ul>

                        <li> <i class="fa-solid fa-location-dot"></i> 778/B1 Nguyễn Kiệm, phường 4, quận Phú Nhuận, TP Hồ Chí Minh</li>
                        <li><i class="fa-solid fa-headset"></i> (028) 62523434 hoặc 0901660002</li>
                        <li><i class="fa-solid fa-envelopes-bulk"></i> caodang@fpt.edu.vn</li>
                    </ul>
                </div>
                <div class="col-lg-2  mt-5 col-md-6 single-footer-widget">
                    <h4>Cở Sở Tây Nguyên</h4>
                    <ul>

                        <li> <i class="fa-solid fa-location-dot"></i> 288 Nguyễn Văn Linh, phường An Khánh, quận Ninh Kiều, TP Cần Thơ</li>
                        <li><i class="fa-solid fa-headset"></i>  0901759222</li>
                        <li><i class="fa-solid fa-envelopes-bulk"></i> caodang@fpt.edu.vn</li>
                    </ul>
                </div>
                <div class="col-lg-2  mt-5 col-md-6 single-footer-widget">
                    <h4>FPLSP | E-Learning</h4>
                    <p>"Wisdom is not a product from school, but a lifelong learning process"</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                            <div style="position: absolute; left: -50px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="mt-5 footer-social">
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row ">
                <p class="footer-text m-0 col-lg-12 col-md-12 d-flex justify-content-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                   CMS | FPT Polytechnic All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
               
            </div>
        </div>
    </footer>