@inherits LayoutComponentBase

<PageTitle>FPLSP | Elearning</PageTitle>

<div class="backgroundimg" >
   
       <NavMenu2></NavMenu2>


 
    <main >
        <article >
            <div class="container">
                @Body
            </div>
            
        </article>
    </main>
</div>
<div class="mt-3">
    <Footer></Footer>
</div>
@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

}
