#docs-menubars[b-9svipk2my3] {
    display: none;
}

.docs-titlebar-badges goog-inline-block[b-9svipk2my3] {
    display: none;
}

#docs-header[b-9svipk2my3] {
    display: none;
}

.docs-titlebar-buttons[b-9svipk2my3] {
    display: none;
}

#docs-branding-container[b-9svipk2my3] {
    display: none;
}
