@page "/detailsresourcelink/{id}"
@using FPLSP.Repositories.Interfaces
@using FPLSP.Server.Domain.Dtos
@attribute [Authorize(Roles = "AdminCore,AdminCS")]
@if (model != null)
{
    <div class="row pt-1">
        <label for="name" class=" col-md-6 col-form-label">Đường Link: <b>@model.Path</b></label>
    </div>
    <div class="row pt-1">
        <label for="name" class=" col-md-col-md-6 col-form-label">Mô tả: <b>@model.Descriptions</b></label>
    </div>
     
    <div class="row pt-2 col-md-1 text-center">
        <a href="/resourcelink" class="btn btn-outline-danger">Quay Lại</a>
    </div>

}
@code {
    private ResourceLinkDto model = new ResourceLinkDto();
    [Inject]
    public NavigationManager Navigation { get; set; }

    [Inject]
    public IResourceLinkRepo _iResourcelinkClient { get; set; }
    public bool ShowAuthError { get; set; }
    [Parameter]
    public string Error { get; set; }
    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //model = await _iResourcelinkClient.GetbyId(Guid.Parse(Id));
    }
}
