
.profileuser {
    border-radius: 20px;
    box-shadow: 0px 10px 25px -10px rgb(0 0 0 / 75%);
    padding-top: 30px;
    position: relative;
    width: 250px;
    max-width: 100%;
    text-align: center;
}

    .profileuser .pro {
        color: #231E39;
        background-color: #FEBB0B;
        font-weight: bold;
        border-radius: 5px;
        padding: 3px 7px;
        position: absolute;
        top: 5px;
        left: 10px;
    }

    .profileuser .toolbarright {
        font-weight: bold;
        padding: 3px 7px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 10px;
    }


    .profileuser .round {
        border: 1px solid #03BFCB;
        border-radius: 50%;
        padding: 7px;
        width: 100px;
    }

button.primary {
    background-color: #03BFCB;
    border: 1px solid #03BFCB;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

    button.primary.ghost {
        background-color: transparent;
        color: #02899C;
    }

.skills {
    background-color: #8ec3eb;
    text-align: left;
    padding: 15px;
    color: #8ec3eb;
    margin-top: 30px;
}

    .skills ul {
        list-style-type: none;
        margin: 0;
        color: #8ec3eb;
        padding: 0;
    }

        .skills ul li {
            display: inline-block;
            font-size: 12px;
            color: whitesmoke;
            margin: 0 7px 7px 0;
            padding: 7px;
        }

.search__container {
    padding-top: 64px;
}

.search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: whitesmoke;
}

.search__input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

    .search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    .search__input:hover,
    .search__input:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }

@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8ec3eb;
    z-index: 9998;
}

.loading-texter {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

    .loading-texter span {
        display: inline-block;
        margin: 0 5px;
        top: 0;
        left: 0;
        font-size: 55px;
        color: snow;
        font-family: "Quattrocento Sans", sans-serif;
    }

        .loading-texter span:nth-child(1) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
            animation: blur-text 1.5s 0s infinite linear alternate;
        }

        .loading-texter span:nth-child(2) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
            animation: blur-text 1.5s 0.2s infinite linear alternate;
        }

        .loading-texter span:nth-child(3) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
            animation: blur-text 1.5s 0.4s infinite linear alternate;
        }

        .loading-texter span:nth-child(4) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
            animation: blur-text 1.5s 0.6s infinite linear alternate;
        }

        .loading-texter span:nth-child(5) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
            animation: blur-text 1.5s 0.8s infinite linear alternate;
        }

        .loading-texter span:nth-child(6) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
            animation: blur-text 1.5s 1s infinite linear alternate;
        }

        .loading-texter span:nth-child(7) {
            filter: blur(0px);
            -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
            animation: blur-text 1.5s 1.2s infinite linear alternate;
        }

@-webkit-keyframes blur-text {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}

@keyframes blur-text {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(4px);
    }
}

blockquote {
    margin: 0 auto;
    padding: 1em;
    border-left: 5px solid #999;
}

    blockquote:before {
        display: none;
    }

    blockquote:not(:first-of-type) {
        margin-top: .5em;
    }

    blockquote p {
        color: #555;
        font-size: 12pt;
        line-height: 1.4;
        font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
    }

    blockquote footer {
        margin-top: .5em;
        padding: 0;
        color: #777;
        font-size: 12pt;
        text-align: left;
        font-style: italic;
    }

        blockquote footer:before {
            content: '— ';
        }

    blockquote:nth-of-type(even) {
        text-align: right;
        border-left: none;
        border-right: 5px solid #999;
    }

        blockquote:nth-of-type(even) footer {
            text-align: right;
        }

            blockquote:nth-of-type(even) footer:before {
                content: '';
            }

            blockquote:nth-of-type(even) footer:after {
                content: ' —';
            }

.clock {
    color: var(--color-tone-1);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.inthemiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.ant-picker {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    padding: 4px 11px 4px;
    position: relative;
    align-items: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: border 0.3s, box-shadow 0.3s;
}

.blog {
    position: relative;
    background-color: #8ec3eb;
    background-size: 22em 30em;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    margin: auto;
    height: 200px;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    overflow: hidden;
}

    .blog * {
        position: relative;
        z-index: 2;
    }

    .blog:hover .color-overlay {
        background: rgba(74, 100, 114, 0.8);
    }

    .blog:hover .info {
        bottom: -3em;
        opacity: 1;
    }

.blog,
.color-overlay {
    border-radius: 0.7em;
}

.color-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: 0.7s background;
    background: rgba(74, 100, 114, 0.3);
    z-index: 1;
}

.title-box {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

    .title-box hr {
        margin-top: -0.4em;
        margin-bottom: 1em;
        width: 5em;
        height: 0.25em;
        box-sizing: content-box;
        border: none;
        background: #d0bc57;
    }

h3 {
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    text-align: center;
}

.intro {
    padding-left: 15px;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
}

.info {
    font-size: 1.2em;
    color: #ddd;
    line-height: 1.1em;
    padding: 0 2em;
    position: relative;
    bottom: -4em;
    opacity: 0;
    background: transparent;
    transition: opacity 0.3s, bottom 0.3s;
    text-align: center;
}

.footercss {
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    border-radius: 0 0 0.7em 0.7em;
}

    .footercss > .icon-holder {
        position: absolute;
        bottom: 0;
        height: 3em;
        width: 100%;
        display: inline-block;
        font-size: 1.2em;
        padding: 0 2em;
    }

.icon-holder i {
    color: #d0bc57;
}

.icon-holder span,
h3 {
}

space {
    display: inline-block;
    width: 0.6em;
    height: 1em;
}

.page-contain {
    display: flex;
}

.data-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background: #8ec3eb;
    border-radius: 0.5em;
    text-decoration: none;
    margin: 1em;
    padding: 2.75em 2.5em;
    box-shadow: 0 1.5em 2.5em -0.5em rgb(0 0 0 / 10%);
    transition: transform 0.45s ease, background 0.45s ease;
}

    .data-card h3 {
        color: #2E3C40;
        font-size: 3.5em;
        font-weight: 600;
        line-height: 1;
        padding-bottom: 0.5em;
        margin: 0 0 0.142857143em;
        border-bottom: 2px solid #753BBD;
        transition: color 0.45s ease, border 0.45s ease;
    }

    .data-card h4 {
        color: #627084;
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.1em;
        margin: 0 0 1.777777778em;
        transition: color 0.45s ease;
    }

    .data-card p {
        font-weight: 600;
        line-height: 1.8;
        color: black;
        margin: 0 0 1.25em;
        transform: translateY(-1em);
        transition: opacity 0.45s ease, transform 0.5s ease;
    }

    .data-card .link-text {
        display: block;
        color: #753BBD;
        font-size: 1.125em;
        font-weight: 600;
        line-height: 1.2;
        margin: auto 0 0;
        transition: color 0.45s ease;
    }

        .data-card .link-text svg {
            margin-left: 0.5em;
            transition: transform 0.6s ease;
        }

            .data-card .link-text svg path {
                transition: fill 0.45s ease;
            }

    .data-card:hover {
        background-color: #8ec3eb;
        transform: scale(1.02);
    }

        .data-card:hover h3 {
            color: #FFFFFF;
            border-bottom-color: #A754C4;
        }

        .data-card:hover h4 {
            color: #FFFFFF;
        }

        .data-card:hover p {
            opacity: 1;
            color: black;
            transform: none;
        }

        .data-card:hover .link-text {
        }

            .data-card:hover .link-text svg {
                -webkit-animation: point 1.25s infinite alternate;
                animation: point 1.25s infinite alternate;
            }

                .data-card:hover .link-text svg path {
                    fill: #FFFFFF;
                }

@-webkit-keyframes point {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0.125em);
    }
}

@keyframes point {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0.125em);
    }
}

.btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

    .btn-container:nth-child(1) {
        --btn-bg: #8ec3eb;
    }

    .btn-container:nth-child(2) {
        --btn-bg: #fac300;
        --bg: #fc6100;
    }

.tired {
    --width: 180px;
    --height: 40px;
    border: 0;
    position: relative;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: var(--height);
    color: #fff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

    .tired .text,
    .tired .icon-container {
        position: relative;
        z-index: 2;
    }

    .tired .icon-container {
        --icon-size: 25px;
        position: relative;
        width: var(--icon-size);
        height: var(--icon-size);
        margin-left: 15px;
        transition: transform 500ms ease;
    }

        .tired .icon-container .icon {
            position: absolute;
            left: 0;
            top: 0;
            width: var(--icon-size);
            height: var(--icon-size);
            transition: transform 500ms ease, opacity 250ms ease;
        }

        .tired .icon-container .icon--left {
            transform: translateX(-200%);
            opacity: 0;
        }

        .tired .icon-container .icon svg {
            width: 100%;
            height: 100%;
            fill: #fff;
        }

    .tired::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--btn-bg);
        border-radius: var(--height);
        z-index: 1;
        transition: transform 500ms ease;
    }

    .tired:hover::after {
        transform: translateX(65%);
    }

    .tired:hover .icon-container {
        transform: translateX(125%);
    }

        .tired:hover .icon-container .icon--left {
            transform: translateX(0);
            opacity: 1;
        }

        .tired:hover .icon-container .icon--right {
            transform: translateX(200%);
            opacity: 0;
        }

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}

    .support a {
        margin: 0 10px;
        color: #fff;
        font-size: 1.8rem;
        backface-visibility: hidden;
        transition: all 150ms ease;
    }

        .support a:hover {
            transform: scale(1.1);
        }
