@using FPLSP.Server.Infrastructure.ViewModels.LessonContentUP
@attribute [Authorize(Roles = "AdminCore,AdminCS")]
<EditForm Model="@lessonContentUPListSearch" OnSubmit=@SearchForm>
    <div class="row pl-16">
        <div class="col-7">
        <InputText placeholder="Nhập tên bài học" class="form-control" @bind-Value="lessonContentUPListSearch.Name"></InputText>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
            <button class="btn btn-outline-success ms-2" @onclick="() => Undo()">Làm mới</button>
        </div>
        </div>
</EditForm>
@code {
    [Parameter]
    public EventCallback<LessonContentUPListSearch> OnSearch { get; set; }
    private LessonContentUPListSearch lessonContentUPListSearch = new LessonContentUPListSearch();
    private async Task SearchForm(EditContext context)
    {
        await OnSearch.InvokeAsync(lessonContentUPListSearch);
    }
    public async void Undo()
    {
        lessonContentUPListSearch.Name = "";
        lessonContentUPListSearch.PageSize = 1;
        await OnSearch.InvokeAsync(lessonContentUPListSearch);
    }
}