@using FPLSP.Server.Domain.Enums
@using FPLSP.Server.Infrastructure.ViewModels.KìnOfQuestionCPVm
@using FPLSP.Server.Infrastructure.ViewModels.QuestionType

<EditForm Model="@_questionTypeSearch" OnSubmit="@SearchForm">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <InputSelect id="name" class="form-control" @bind-Value="_questionTypeSearch.QuestionForm">
                <option value="">Loại câu hỏi</option>
                @foreach (var item in Enum.GetValues(typeof(QuestionForms)))
                {
                    <option value="@item">@item</option>
                }
            </InputSelect>
        </div>
        <div class="col-5">
            <InputText class="form-control" @bind-Value="_questionTypeSearch.QuestionTypeName" placeholder="Nhập tên loại câu hỏi"></InputText>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-success">Tìm kiếm</button>
        </div>
    </div>

</EditForm>
@code {
    [Parameter]
    public EventCallback<QuestionTypeSearch> OnSearch { get; set; }

    private QuestionTypeSearch _questionTypeSearch = new QuestionTypeSearch();

    private async Task SearchForm(EditContext context)
    {
        await OnSearch.InvokeAsync(_questionTypeSearch);
    }
}