@inherits LayoutComponentBase

<PageTitle>FPLSP</PageTitle>

<head>
<title>Course Management System | Hệ thống quản trị khóa học | FPT Polytechnic Việt Nam</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="page">
    <div class="jumbotron">
        <div class="container ">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <a href=""><img src="./css/images/Others/FPT_Polytechnic.png" class="img-responsive" width="150" alt="Image"></a>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-5 col-xs-6">
                    <p style="text-align: right; font-size: 1em; color: #004a80">HỆ THỐNG QUẢN TRỊ HỌC TẬP</p>
                    <p style="text-align: right; font-size: 1em; color: #004a80"><b>FPT POLYTECHNIC</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>

<footer class="mt-3">
<div class="container">
<tr>
<div class="col-sm-12" style="background-color: orange;height: 10px;">
</div>
</tr>
<br><br>
<div class="col-sm-4">
<p class="footer-title">CONTACT INFORMATION </p>
<p class="footer-text__orange">Head Office: </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> 1st Floor, FPT Polytechnic Building, Ham Nghi Street, My DInh I Urban Area, Tu Liem Dictrict, Ha Noi City, Viet Nam </p>
</div>
<div class="col-sm-4 ">
<p class="footer-text__orange">FPT Polytechnic campuses in Viet Nam </p>
<p class="footer-campus__underline"><u>FPT Polytechnic Ha Noi</u> </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> FPT Polytechnic Building (H Building), Ham Nghi Street, My Dinh I Urban Area, Tu Liem District, Ha Noi City, Viet Nam </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">settings_phone</i> +84 46684 0713 - 84 46684 1713 - 84 48582 0808 </p>
<p class="footer-campus__underline"><u>FPT Polytechnic Da Nang</u> </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> 137 Nguyen Thi Thap Street, Hoa Minh Sub-district, Lien Chieu District, Da Nang City, Viet Nam </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">settings_phone</i> +84 51137 10999 </p>
</div>
<div class="col-sm-4 ">
<p class="footer-campus__underline"><u>FPT Polytechnic Ho Chi Minh City</u> </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> 391A Nam Ky Khoi Nghia Street, Sub-district 7,
District 3, Ho Chi Minh City, Viet Nam </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">settings_phone</i> +84 83526 8799 </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> 778/B1 Nguyen Kiem, Sub-district 4,
Phu Nhuan District, Ho Chi Minh City, Viet Nam </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">settings_phone</i> +84 86252 3434 </p>
<p class="footer-campus__underline"><u>FPT Polytechnic Tay Nguyen</u> </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">home</i> 2nd Floor, VIB Building, 27 Nguyen Tat Thanh Street, Buon Ma Thuot City, Dak Lak Province, Viet Nam </p>
<p><i class="material-icons" style="font-size:9px;color:orange;">settings_phone</i> +84 50035 55678 </p>
</div>
</div>
</footer>