@page "/error404"

<div class="row">
    <div class="col-6">
        <div class="row" style="height:50px; "></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><p style="font-size:10rem; color:#314da7; font-weight:700;">404</p></div>
            
            </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><p style="font-size:2rem; color:#314da7; font-weight:700;">Bạn đang không có quyền</p></div>
            
            </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9"><p style="font-size:1rem; font-weight:500;">
                Nếu bạn thấy thông báo này
                Vui lòng liên hệ quản trị viên
                <a href="mailto:dungna29@fe.edu.vn" style="text-decoration:none">dungna29@fe.edu.vn</a>
            </p></div>
            
        </div>

    </div>
    <div class="col-6"><img src="./css/images/Others/error404.jpg" alt="không có quyền" width="500" height="600"></div>
</div>